@using StationeryStore.Models
@using StationeryStore.Util
@{
    PurchaseOrderEF po = (PurchaseOrderEF)ViewData["purchaseOrder"];
    List<PurchaseOrderDetailsEF> pod = (List<PurchaseOrderDetailsEF>)ViewData["purchaseOrderDetails"];

}

<div>@Html.Partial("_Store")</div>

<h2>ViewPurchaseOrder</h2>
<div class="mainview">
    <h4>View Purchase Order (@po.Status)</h4>
    <br />
    <br />
    <table class="listview">
        <tr>
            <td class="listrequestlabel">Purchase Order Id:</td>
            <td class="listrequestvalue">@po.OrderId (@po.Status)</td>
        </tr>
        <tr>
            <td class="listrequestlabel">Created on:</td>
            <td class="listrequestvalue">@Timestamp.dateFromTimestamp(po.OrderDate)</td>
        </tr>
        <tr>
            <td class="listrequestlabel">Ordered by:</td>
            <td class="listrequestvalue">@po.CreatedBy.Name</td>
        </tr>
        <tr>
            <td class="listrequestlabel">Items received on:</td>
            @{
                if (po.Status == "Delivered")
                {
                    <td class="listrequestvalue">@Timestamp.dateFromTimestamp(po.DateDeliveredOn)</td>
                }
                else
                {
                    <td class="listrequestvalue">N.A</td>
                }
            }
        </tr>
        <tr>
            <td class="listrequestlabel">Items received by:</td>
            @{
                if (po.Status == "Delivered")
                {
                    <td class="listrequestvalue">@po.ReceivedBy.Name</td>
                }
                else
                {
                    <td class="listrequestvalue">N.A</td>
                }
            }
        </tr>
        <tr>
            <td class="listrequestlabel">Supplier:</td>
            <td class="listrequestvalue">@po.SupplierCode</td>
        </tr>
    </table>

    <br />

    <table class="listview">
        <tr>
            <td colspan="5" class="listviewtitle">Items:</td>
        </tr>
        <tr>
            <th class="listviewuom">Item SN</th>
            <th class="listviewuom">Item Code</th>
            <th class="listviewdescription">Description</th>
            <th class="listviewuom">UOM</th>
            <th class="listviewquantity">Order quantity</th>
        </tr>

        @{ int i = 0;
            foreach (var p in pod)
            {
                ++i;
                <tr>
                    <td class="oddlistview">@i</td>
                    <td class="oddlistview">@p.ItemCode</td>
                    <td class="oddlistview">@p.Stock.Description</td>
                    <td class="oddlistview">@p.Stock.Uom</td>
                    <td class="oddlistview">@p.QuantityOrdered</td>

                </tr>
            }

        }
        <tr>
            <td colspan="3"></td>
            <td height="100px" align="right">
                <form action="~/ManagePurchase/ViewPurchaseOrder" method="post">
                    <input type="hidden" name="purchaseOrderId" value="@po.OrderId.ToString()" />
                    @{ if (po.Status == "Pending Delivery")
                        { <input type="submit" onclick="return confirm('Confirm delivery of goods?')" name="choice" value="Confirm Delivery" class="decision" />
                        }
                    }
                    <input type="submit" name="choice" value="Print Purchase Order" class="decision" />
                   
                </form>
            </td>
            <td><button onclick="location.href='@Url.Action("PurchaseOrderHistory", "ManagePurchase", new {page =1 })'" name="choice" value="back" class="decision">Back</button></td>
        </tr>
    </table>  
</div>
