@model List<StationeryStore.Models.AdjustmentVoucherDetailsDTO>
@using StationeryStore.Models
@using StationeryStore.Util


@{
    ViewBag.Title = "CreateAdjustmentVoucher";
    List<StockEF> itemList = (List<StockEF>)ViewData["itemList"];
    AdjustmentVoucherEF voucher = (AdjustmentVoucherEF)ViewData["voucher"];
    List<AdjustmentVoucherDetailsDTO> validator = (List<AdjustmentVoucherDetailsDTO>)ViewData["invalidItems"];

}

<div>@Html.Partial("_Store")</div>

<div class="maindetails">
    <div class="mainview">
        <h3>Create Adjustment Voucher</h3>
        <br />
        <br />
        @using (Html.BeginForm("CreateAdjustmentVoucher", "ManageAdjustmentVoucher", FormMethod.Post))
        {

            if (voucher != null && voucher.VoucherId != null)
            {
                <table>                   
                    <tr>
                        <td class="listrequestlabel">Voucher Id:</td>
                        <td class="listrequestvalue">@voucher.VoucherId</td>
                    </tr>
                    <tr>
                        <td class="listrequestlabel">Requester:</td>
                        <td class="listrequestvalue">@voucher.Requester.Name</td>
                    </tr>
                </table>
                <input type="hidden" name="voucherId" value="@voucher.VoucherId" />
            }

            <input list="items" name="itemToAdd" size="40" class="listview" />
            <datalist id="items">
                @{foreach (var item in itemList)
                    {
                        string itemDetail = item.ItemCode + "- " + item.Description;
                        <option value="@item.ItemCode">@itemDetail</option>
                    }
                }
            </datalist>
            <input class="decision" type="submit" value="Add Item" name="choice" />
            <br />
            <br />
            <table class="listview">
                @if (validator != null && validator.Count > 0)
                {
                    string invalidList = "";
                    foreach (var v in validator)
                    {
                        invalidList = invalidList + " " + v.Description + ",";
                    }                    
                    <tr>
                        <td colspan="8" style="color:red; background-color:white; text-align: center;">Insufficient quantity on hand to adjust: @invalidList.TrimEnd(',')</td>
                    </tr>
                    <tr><td height="10"></td></tr>
                }
                <tr>
                    <th class="listviewuom">S/N</th>
                    <th class="listviewuom">Item Code</th>
                    <th class="listviewdescription">Description</th>
                    <th class="listviewquantity">Quantity Adjusted</th>
                    <th class="listviewquantity">Unit Cost</th>
                    <th class="listviewquantity">Subtotal</th>
                    <th class="listviewquantity">Reason</th>
                    <th class="listviewremove">Remove</th>
                </tr>
                @if (Model == null)
                {
                    <tr class="oddlistview">
                        <td colspan="6" class="oddlistview">Please Add Items.</td>
                    </tr>
                }
                else
                {
                    List<double> prices = new List<double>();

                    for (int i = 0; i < Model.Count; i++)
                    {
                        int count = i + 1;
                        double itemSubtotal = Model[i].Price * Model[i].Quantity;

                        <tr class="oddlistview">
                            <td class="oddlistview">@count</td>
                            <td class="oddlistview">@Html.Raw(Model[i].ItemCode)</td>
                            <td class="oddlistview">@Html.Raw(Model[i].Description)</td>
                            <td class="oddlistview" id="quantity-@i ">@Html.EditorFor(x => x[i].Quantity, new { htmlAttributes = new { onchange = "submit()" } })<br />@Html.ValidationMessageFor(x => Model[i].Quantity)</td>
                            <td class="oddlistview" id="price-@i">@Html.DisplayFor(x => x[i].Price)</td>
                            <td class="oddlistview" id="subtotal-@i">@string.Format("{0:C}", itemSubtotal)</td>
                            <td class="oddlistview">@Html.EditorFor(x => x[i].Reason)<br />@Html.ValidationMessageFor(x => Model[i].Reason)</td>
                            <td class="oddlistview">@Html.CheckBoxFor(x => x[i].Remove)</td>

                            @Html.HiddenFor(x => x[i].Remove, Model[i].Remove)
                            @Html.HiddenFor(x => x[i].ItemCode, Model[i].ItemCode)
                            @Html.HiddenFor(x => x[i].Description, Model[i].Description)
                            @Html.HiddenFor(x => x[i].Reason, Model[i].Reason)
                            @Html.HiddenFor(x => x[i].Quantity, Model[i].Quantity)
                            @Html.HiddenFor(x => x[i].Price, Model[i].Price)
                        </tr>
                    }

                    <tr>
                        <td colspan="7" class="oddlistview">Total Value:</td>
                        <td id="totalSum" class="oddlistview">@string.Format("{0:C}", Model.Sum(x => x.Price * x.Quantity))</td>
                    </tr>
                }

            </table>
            <br />
            <button onclick="submit()" name="choice" value="Cancel" class="decision">Cancel</button>
            <input class="decision" type="submit" value="Submit" name="choice" />
            <button onclick="submit()" name="choice" value="Remove" class="decision">Remove Selected Items</button>

        }
    </div>
</div>
<script type="text/javascript">
    var prices = [];

    function changeQty(i) {

        alert(i);
    }
</script>