@using StationeryStore.Models
@using StationeryStore.Util
@{
    ViewBag.Title = "ViewAdjustmentDetails";

    bool needsManagerAuthority = (bool)ViewData["needsManagerAuthority"];
    AdjustmentVoucherEF voucher = (AdjustmentVoucherEF)ViewData["adjustmentVoucher"];
    List<AdjustmentVoucherDetailsDTO> voucherDetails = (List<AdjustmentVoucherDetailsDTO>)ViewData["voucherDetailsList"];
    string staffRole = (string)ViewData["staffRole"];
    int staffId = (int)ViewData["staffId"];
}

<div>@Html.Partial("_Store")</div>

<div class="mainview">
    <h3 class="title">Adjustment Voucher Details(@voucher.Status)</h3>
    <br />
    <br />
    <div class="maindview">
        @using (Html.BeginForm("ViewAdjustmentDetails", "ManageAdjustmentVoucher", FormMethod.Post))
        {
            <table class="listview">
                <tr>
                    <td class="listrequestlabel">Voucher Id:</td>
                    <td class="listrequestvalue">@voucher.VoucherId</td>
                </tr>
                <tr>
                    <td class="listrequestlabel">Date issued:</td>
                    <td class="listrequestvalue">@Timestamp.dateFromTimestamp(voucher.DateIssued)</td>
                </tr>
                <tr>
                    <td class="listrequestlabel">Requested By:</td>
                    <td class="listrequestvalue">@voucher.Requester.Name</td>
                </tr>
                @{ if (voucher.ApproverId != null)
                    {
                        <tr>
                            <td class="listrequestlabel">Approved By:</td>
                            <td class="listrequestvalue">@voucher.Approver.Name</td>
                        </tr>
                    }
                }
            </table>
            <br />

            <table class="listview">
                <tr>
                    <td colspan="6" class="listviewtitle">Stock Adjustment Details</td>
                </tr>
                <tr>
                    <th class="listviewuom">Item Code</th>
                    <th class="listviewdescription">Item Description</th>
                    <th class="listviewquantity">Quantity</th>
                    <th class="listviewdate">Unit Price</th>
                    <th class="listviewdate">Total Cost</th>
                    <th class="listviewdescription">Reason</th>

                </tr>
                @{ foreach (var v in voucherDetails)
                    {
                        double totalCost = v.Quantity * v.Price;
                        <tr class="oddlistview">
                            <td class="oddlistview">@v.ItemCode</td>
                            <td class="oddlistview">@v.Description</td>
                            <td class="oddlistview">@v.Quantity</td>
                            <td class="oddlistview">@string.Format("{0:C}",v.Price)</td>
                            <td class="oddlistview">@string.Format("{0:C}",totalCost)</td>
                            <td class="oddlistview">@v.Reason</td>

                        </tr>
                    }
                }
                <tr class="oddlistview">
                    <td class="oddlistview" colspan="5" align="right">Voucher Sum:</td>
                    <td class="oddlistview">@string.Format("{0:C}",voucherDetails.Sum(x=> x.Price * x.Quantity))</td>
                </tr>
            </table>
            <br />
            if (voucher.Status == "Pending Approval")
            {
                <input type="hidden" name="voucherId" value="@voucher.VoucherId" />
                if (staffRole == "Store Clerk" && staffId == voucher.RequesterId)
                {
                    <button onclick="submit()" class="decision" name="choice" value="Edit">Edit</button>
                }
                else if (needsManagerAuthority == false && (staffRole == "Store Supervisor" || staffRole == "Store Manager"))
                {
                    <button onclick="submit()" class="decision" name="choice" value="Approve">Approve</button>
                    <button onclick="submit()" class="decision" name="choice" value="Reject">Reject</button>
                }
                else if (needsManagerAuthority == true && staffRole == "Store Manager")
                {
                    <button onclick="submit()" class="decision" name="choice" value="Approve">Approve</button>
                    <button onclick="submit()" class="decision" name="choice" value="Reject">Reject</button>
                }
            }
        }
    </div>
</div>

