@{
    var staff = ViewBag.staff;
}

<div class="mainheaderbar">
    <div class="system">STATIONERY STORE INVENTORY SYSTEM</div>
    <div class="mainheaderlink">@Html.ActionLink("Logout", "Index", "Logout", null, new { @class = "topnavlink" })</div>
    <div class="mainheaderlink">@Html.ActionLink("Help", "Index", "Logout", null, new { @class = "topnavlink" })</div>
    @if (staff.Department.AuthorityId == staff.StaffId &&
                      staff.Department.DelegationStartDate <= StationeryStore.Util.Timestamp.dateToUnixTimestamp(DateTime.UtcNow) &&
                      staff.Department.DelegationEndDate >= StationeryStore.Util.Timestamp.dateToUnixTimestamp(DateTime.UtcNow))
    {
        <div class="mainheaderdetail">@staff.Name (Covering Department Head)</div>
    }
    else
    {
        <div class="mainheaderdetail">@staff.Name (@staff.Role.Description)</div>
    }

</div>

<div class="sidenavbar">
    <ul class="sidenavbar">
        @{
            if (staff.Role.Description == "Department Head")
            {
                <li>
                    <button class="sidemain">@Html.ActionLink("Home", "Index", "ApproveRequest", null, new { @class = "sidenavlink" })</button>
                    <button class="sidemain">@Html.ActionLink("Manage Collection", "Index", "ManageCollection", null, new { @class = "sidenavlink" })</button>
                    <button class="sidemain">@Html.ActionLink("Manage Delegation", "Index", "ManageDelegation", null, new { @class = "sidenavlink" })</button>
                    <button class="sidemain">@Html.ActionLink("View Employee Request History", "Index", "ViewEmployeeRequestHistory", null, new { @class = "sidenavlink" })</button>
                </li>
            }
            else if (staff.Department.AuthorityId == staff.StaffId &&
              staff.Department.DelegationStartDate <= StationeryStore.Util.Timestamp.dateToUnixTimestamp(DateTime.UtcNow) &&
              staff.Department.DelegationEndDate >= StationeryStore.Util.Timestamp.dateToUnixTimestamp(DateTime.UtcNow))
            {
                <li>
                    <button class="sidemain">@Html.ActionLink("Home", "Index", "ApproveRequest", null, new { @class = "sidenavlink" })</button>
                    <button class="sidemain">@Html.ActionLink("Manage Collection", "Index", "ManageCollection", null, new { @class = "sidenavlink" })</button>
                </li>
            } else if (staff.Role.Description == "Employee")
            {
                <li>
                    <button class="sidemain">@Html.ActionLink("Home", "Index", "ManageRequest", null, new { @class = "sidenavlink" })</button>
                </li>
                <li>
                    <button class="sidemain">@Html.ActionLink("View Catalogue", "Index", "ViewCatalogue", null, new { @class = "sidenavlink" })</button>
                </li>
                <li>
                    <button class="sidemain">@Html.ActionLink("View Disbursement", "Index", "ViewDisbursement", null, new { @class = "sidenavlink" })</button>
                </li>
                <li>
                    <button class="collapsible">Request</button>
                    <div class="content">
                        <ul class="sidenavdetails">
                            <li class="sidenavdetails">@Html.ActionLink("Create Request", "CreateRequest", "ManageRequest", null, new { @class = "sidenavlink" })</li>
                            <li class="sidenavdetails">@Html.ActionLink("View Request History", "Index", "ViewRequestHistory", null, new { @class = "sidenavlink" })</li>
                        </ul>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>