
@using StationeryStore.Models
@model StationeryStore.Models.CatalogueItemDTO

<div>@Html.Partial("_Store")</div>

<div class="mainview">
    <div class="maindetails">
        <h3 class="title">Create Catalogue Item</h3>
        @using (Html.BeginForm("CreateCatalogueItem", "ManageCatalogue", FormMethod.Post))
        {
            <div class="listview">
                <table class="listview">
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.ItemCode)</td>
                        <td class="oddlistview">
                            @Html.DropDownList("ItemCode", (IEnumerable<SelectListItem>)ViewData["ItemCode"])
                        </td>
                        <td>@Html.ValidationMessageFor(x => x.ItemCode)</td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.ReorderLevel)</td>
                        <td class="oddlistview">
                            @Html.EditorFor(x => x.ReorderLevel)
                            <br />@Html.ValidationMessageFor(x => x.ReorderLevel)
                        </td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.ReorderQty)</td>
                        <td class="oddlistview">
                            @Html.EditorFor(x => x.ReorderQty)
                            <br />@Html.ValidationMessageFor(x => x.ReorderQty)
                        </td>
                    </tr>
                    <tr class="decision">
                        <td class="decision" colspan="2" align="right">
                            <input type="button" class="decision" name="decision" value="Cancel" onclick="location.href='@Url.Action("ViewCatalogue", "ManageCatalogue", new { page = 1 })'" />
                            <input type="submit" class="decision" name="decision" value="Save" onclick="return confirm('Add item to catalogue?')" />
                        </td>
                    </tr>

                </table>
            </div>
        }
        <br /><br />
    </div>
</div>

<style>
    .field-validation-error {
        color: #ff0000;
    }
</style>