@*Janel*@

@model StationeryStore.Models.StockCardDTO

<div>@Html.Partial("_Store")</div>

<div class="mainview">
    <div class="maindetails">
        <h3 class="title">Update Stock Card</h3>
        @using (Html.BeginForm("UpdateStockCard", "ManageStockCard", FormMethod.Post))
        {
            <div class="listview">
                <table class="listview">
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.ItemCode)</td>
                        <td class="oddlistview">@Html.DisplayFor(x => x.ItemCode)</td>
                        <td>@Html.HiddenFor(x => x.ItemCode)</td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.Category)</td>
                        <td class="oddlistview">@Html.TextBoxFor(x => x.Category)</td>
                        <td>@Html.ValidationMessageFor(x => x.Category)</td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.Description)</td>
                        <td class="oddlistview">@Html.TextBoxFor(x => x.Description)</td>
                        <td>@Html.ValidationMessageFor(x => x.Description)</td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.Uom)</td>
                        <td class="oddlistview">@Html.TextBoxFor(x => x.Uom)</td>
                        <td>@Html.ValidationMessageFor(x => x.Uom)</td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.Bin)</td>
                        <td class="oddlistview">@Html.TextBoxFor(x => x.Bin)</td>
                        <td>@Html.ValidationMessageFor(x => x.Bin)</td>
                    </tr>
                    <tr class="listview">
                        <td class="listviewheader">@Html.LabelFor(x => x.QuantityOnHand)</td>
                        <td class="oddlistview">@Html.DisplayFor(x => x.QuantityOnHand)</td>
                        <td>@Html.HiddenFor(x => x.QuantityOnHand)</td>
                    </tr>
                    <tr class="decision">
                        <td class="decision" colspan="2" align="right">
                            <input type="button" class="decision" name="decision" value="Cancel" onclick="location.href='@Url.Action("ViewStockCard", "ManageStockCard", new { itemCode = Model.ItemCode })'" />
                            <input type="submit" class="decision" name="decision" value="Save" onclick="return confirm('Save changes?')" />
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

<style>
    .field-validation-error {
        color: #ff0000;
    }
</style>