@{
    ViewBag.Title = "View Request";
    var request = ViewBag.request;
    var date = ViewBag.date;
    var note = ViewBag.note;
}
<div>@Html.Partial("_Department")</div>

<div class="mainview">
    <div class="maindetails">
        <h3 class="title">View Stationery Request</h3>
        <br />
        <div class="listview">
                <table class="listview">
                    <tr class="listview">
                        <td class="listrequestlabel">Requested By:</td>
                        <td class="listrequestvalue">@request.Staff.Name</td>
                    </tr>
           
                    <tr class="listview">
                        <td class="listrequestlabel">Request Date:</td>
                        <td class="listrequestvalue">@date</td>
                    </tr>
                </table>
                <br />
            </div>

        <div>@Html.Partial("_RequestDetails")</div>
        
        <br />
        
        <div class="listview">
            @{ Html.BeginForm("ApproveRequest", "ApproveRequest", FormMethod.Post);
            <table class="listview">
                <tr class="listview">
                    <td colspan="2" class="listrequestfield"><textarea name="comment" rows="4" cols="50" placeholder="Please enter reason for approval / rejection"></textarea></td>
                </tr>
                <tr class="decision">
                    <td class="decision" colspan="2" align="right">
                        <input type="hidden" name="requestId" value="@request.RequestId" />
                        <input type="submit" name="decision" value="Reject" class="reject" />
                        <input type="submit" name="decision" value="Approve" class="approve" />
                    </td>
                </tr>
            </table>
            }
            <br />
        </div>
    </div>
</div>
