@{
    ViewBag.Title = "View Disbursement";
    var disbursementList = ViewBag.disbursementList;
    var disbursementDate = ViewBag.disbursementDate;
}

<div>@Html.Partial("_Department")</div>


<div class="mainview">
    <div class="maindetails">
        <h3 class="title">View Disbursement</h3>
        <br />
        <div class="listview">
            <table class="listview">
                <tr class="listview">
                    <td class="listviewheader">Reference No</td>
                    <td class="listviewheader">Disbursement Date</td>
                    <td class="listviewheader">Status</td>
                </tr>
                @{
                    for (int i = 0; i < disbursementList.Count; i++)
                    {
                        string disbursementId = disbursementList[i].DisbursementId.ToString();
                        if (i % 2 != 0)
                        {
                            <tr class="listview">
                                <td class="oddlistview">@Html.ActionLink(disbursementId, "ViewDisbursement", new { disbursementId = disbursementList[i].DisbursementId })</td>
                                <td class="oddlistview">@disbursementDate[i]</td>
                                <td class="oddlistview">@disbursementList[i].Status</td>
                            </tr>
                        }
                        else if (i % 2 == 0)
                        {
                            <tr class="listview">
                                <td class="evenlistview">@Html.ActionLink(disbursementId, "ViewDisbursement", new { disbursementId = disbursementList[i].DisbursementId })</td>
                                <td class="evenlistview">@disbursementDate[i]</td>
                                <td class="evenlistview">@disbursementList[i].Status</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>

